/* ########## FOR INDEX.HTML ######### */
html{
    margin:0px;
}
img[src="d2.jpg"]{
    width:100%; 
    height:500px;
}
img[src="csgo.jpg"]{
    width:100%; 
    height:500px;
}
.navbar{
    background-image: linear-gradient(to right, #1c2a49, #182848) !important;
    box-sizing: border-box;
} 

a.nav-link{
    color: whitesmoke;
    padding-left: 20px;
    text-align: center;
}
a.nav-link:hover{
    font-size: 16px;
    color: rgb(109, 134, 16);
}
li.nav-item{
    margin-left: 5px;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
}
a.navbar-brand{
    padding-left: 80px;
    padding-right: 100px;
}
body{
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    background-color: white;
}
h2{
    padding-top: 40px 0px 25px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    color: whitesmoke;
}
.dota2 a:hover{
    filter: brightness(150%);
}
.csgo a:hover{
    filter: brightness(150%);
}
.para{
    color:whitesmoke;
    text-align: center;
    font-size: 30px;
}
.container-fluid{
    padding:0px;
}
.banner{
    width: 100%;
    padding: 40px 0px 40px 0px;
    background: #062543 url("hexbg.png");
}
.row{
    margin: 0px;
    border: transparent;
}
.col{
    padding:0px;
}
.dota2{
    
    margin: 0px;
}

.csgo{
    
}
@media only screen and (max-width: 740px) {
    .row{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .col{
        padding-top:0%;
    }
    .navbar{
        position: relative;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;
    }
}
@media only screen and (max-width: 1400px){
    .row{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .navbar{
        position: relative;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;
    }
}
/* ########## FOR INDEX.HTML ######### */


/* ########## FOR DOTA.HTML ########## */
a.nav-link-dota{
    color: whitesmoke;
    padding-left: 40px;
    text-align: center;
}
a.nav-link-dota:hover{
    font-size: 16px;
    color: rgb(109, 134, 16);
}
.dotaban{
    width: 100%;
    padding-left: 1%;
    padding-top: 5%;
}
.button1{
    padding-left: 5%;
}
.button2{
    padding-left: 20%;
}