html{
    margin:0px;
}
.navbar{
    background-color:#B30049 !important;
    box-sizing: border-box;
} 

a.nav-link{
    color: #EDC8FE;
    padding-left: 20px;
    text-align: center;
}
a.nav-link:hover{
    font-size: 16px;
    color: rgb(109, 134, 16);
}
li.nav-item{
    margin-left: 5px;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
}
a.navbar-brand{
    padding-left: 80px;
    padding-right: 100px;
}
body{
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    background-color: chocolate;
}
h2{
    padding-top: 40px 0px 25px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    color: #EDC8FE;
}
.para{
    color:#EDC8FE;
    text-align: center;
    font-size: 30px;
}
.container-fluid{
    padding: 40px 0px 0px 0px;
    background-color: #070D0D;
}
.row{
    margin-right: 0px;
    border: transparent;
}
.col{
    padding:0px;
}
.dota2{
    padding-top: 40px;
    margin: 0px;
}

.csgo{
    padding-top: 40px;
}
@media only screen and (max-width: 600px) {
    body {
        height: 700px;
    }
    .row{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .col{
        padding-top:0%;
    }
    .navbar{
        position: relative;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;
    }
  }