/* ########## FOR INDEX.HTML ######### */
html{
    margin:0px;
}
img[src="d2.jpg"]{
    width:100%;
    height:500px;
}
img[src="csgo.jpg"]{
    width:100%;
    height:500px;
}
.navbar{
    background-image: linear-gradient(to right, #1c2a49, #182848) !important;
    box-sizing: border-box;
}

a.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    padding-left: 1%;
    text-align: center;
}
a.nav-link:hover{
    font-size: 16px;
    color: rgb(109, 134, 16);
}
li.nav-item{
    margin-left: 5px;
    padding-left: 1%;
    text-align: center;
    padding-right: 20px;
}
a.navbar-brand{
    padding-left: 80px;
    padding-right: 100px;
}
body{
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
    background-color: #1B2431;
}
.banner h2{
    padding-top: 40px 0px 25px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    color: whitesmoke;
}
.dota2 a:hover{
    filter: brightness(150%);
}
.csgo a:hover{
    filter: brightness(150%);
}
.para{
    color:whitesmoke;
    text-align: center;
    font-size: 30px;
}
.container-fluid{
    padding:0px;
}
.banner{
    width: 100%;
    padding: 40px 0px 40px 0px;
    background: #062543 url("hexbg.png");
}
.row{
    margin: 0px;
    border: transparent;
}
.col{
    padding:0px;
}
.dota2{

    margin: 0px;
}

.csgo{

}
@media only screen and (max-width: 740px) {
    .row{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .col{
        padding-top:0%;
    }
    .navbar{
        position: relative;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;
    }
}
@media only screen and (max-width: 1400px){
    .row{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .navbar{
        position: relative;
    }
    .navbar-nav{
        display:flex;
        flex-direction: row;
    }
}
/* ########## FOR INDEX.HTML ######### */


/* ########## FOR DOTA.HTML ########## */
a.nav-link-dota{
    color: whitesmoke;
    padding-left: 40px;
    text-align: center;
}
a.nav-link-dota:hover{
    font-size: 16px;
    color: rgb(109, 134, 16);
}
.dotaban{
    width: 100%;
    padding-left: 1%;
    padding-top: 3%;
    padding-bottom: 2%;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  
  .btn:hover {
    background-color: RoyalBlue;
  }
.teamsportals{
    width:100%;
    padding-left: 1%;
    padding-top: 0px;
    padding-right: 1%;
}
hr{
    color: tomato;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.flip {
    padding-left: 1%;
    position: relative;
}
.flip > .front, .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}
.back img{
    float: left;
    width: 12%;
    max-height: 100%;
    padding-right: 2px;
}
.back h1{
    position: relative;
}
.flip > .front {
    transform: rotateY(0deg);
}
.flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.flip:hover > .front {
    transform: rotateY(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}
.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 300px;
}
.flip > .front, .flip > .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
}
.flip > .front p, .flip > .back p {
    font-size: 0.9125rem;
    line-height: 160%;
    color: #999;
}
.front img{
    width: 100%;
    height: 80%;
    display: flex;
}
.front h1{
    text-align: center;
    color: whitesmoke;
}

.abouninfo{
    width: 100vw;
     position: relative;
     margin-left: -50vw;
     left: 50%;
    padding-top: 2%;
}
.aboutinfo h2{
    padding-left: 2%;
    padding-top: 10%;
    color: whitesmoke;
}
.aboutinfo h3{
    width: 100%;
   padding-left: 2%;
    color: whitesmoke;
    padding-top: 5%;
}
.teamsportal{
    padding-left: 2%;padding-top:2%;padding-right: 2%;
}